.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
*.auto.tfvars
tfplan
tfplan*
app.zip
spring-music-*.jar
spring-music-app.zip
schema.json
.DS_Store
.idea/
.vscode/
