project_id             = "your-project-id"
cf_api_endpoint       = "https://api.cf.eu01.stackit.cloud"
cf_org                = "your-org"
cf_space              = "your-space"
cf_username           = "your-username"
cf_password           = "your-password"
cf_app_name           = "spring-music"
spring_music_repo_url = "https://github.com/cloudfoundry-samples/spring-music.git"

setup_project       = true
setup_observability = false
setup_database      = false
setup_workload      = true
setup_loadgen       = false
setup_dns           = false
