project_id                 = null
parent_container_id        = "cmf-parent-container-id"
project_name               = "cmf-cloud-foundry"
project_owner_email        = null
region                     = "eu01"
enable_beta_resources      = true
service_account_key_path   = "/path/to/stackit-sa-key.json"

scf_org_name               = "cmf-spring-music-org"
cf_space_name              = "app"
admin_email                = ""
assign_roles               = false
cf_domain                  = "apps.01.cf.eu01.stackit.cloud"
cf_app_name                = "spring-music"
cf_app_host                = "spring-music-cmf"
spring_music_repo_url      = "https://github.com/cloudfoundry-samples/spring-music.git"

observability_plan_name            = "Observability-Starter-EU01"
redis_name                         = "cmf-spring-music-redis"
redis_version                      = "7"
redis_plan_name                    = "stackit-redis-1.2.10-replica"
rabbitmq_name                      = "cmf-spring-music-rabbitmq"
rabbitmq_version                   = "4.1"
rabbitmq_plan_name                 = "stackit-rabbitmq-1.2.10-replica"
cf_redis_service_offering_name     = "redis"
cf_redis_service_plan_name         = "shared"
cf_rabbitmq_service_offering_name  = "rabbitmq"
cf_rabbitmq_service_plan_name      = "shared"

setup_project       = true
setup_observability = true
setup_database      = true
setup_workload      = true
setup_loadgen       = false
setup_dns           = false
